<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuwDApZ5tUYmEspUyRZddFIoFTvNCEK_E</string>
	<key>GCM_SENDER_ID</key>
	<string>470707781599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyPlannerWithCalendar</string>
	<key>PROJECT_ID</key>
	<string>study-planner-with-calendar</string>
	<key>STORAGE_BUCKET</key>
	<string>study-planner-with-calendar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470707781599:ios:dbdd914e3de26762f00e6a</string>
</dict>
</plist>
